include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Workflows/Branch-Pipelines.gitlab-ci.yml

variables:
  CARGO_INCREMENTAL: "0"
  CARGO_TERM_COLOR: "always"

lint:
  stage: test
  needs: []
  image: "ghcr.io/astral-sh/uv:python3.10-bookworm-slim"
  variables:
    NOX_DEFAULT_VENV_BACKEND: uv
  before_script:
    - python --version
    - uv --version
    - uvx nox --version
  script:
    - uvx nox -s ruff_junit ruff_format
  artifacts:
    paths:
      - ruff.junit.xml
    reports:
      junit: ruff.junit.xml
    when: always

mypy:
  stage: test
  needs: []
  allow_failure: true
  image: "ghcr.io/astral-sh/uv:python3.10-bookworm-slim"
  variables:
    NOX_DEFAULT_VENV_BACKEND: uv
  before_script:
    - python --version
    - uv --version
    - uvx nox --version
  script:
    - uvx nox -s mypy_full
  artifacts:
    paths:
      - mypy.junit.xml
      - cobertura.xml
      - lineprecision.txt
    reports:
      junit: mypy.junit.xml
      coverage_report:
        coverage_format: cobertura
        path: cobertura.xml
    when: always

stubtest:
  stage: test
  needs: [build-manylinux]
  image: "ghcr.io/astral-sh/uv:python3.10-bookworm-slim"
  variables:
    NOX_DEFAULT_VENV_BACKEND: uv
  before_script:
    - python --version
    - uv --version
    - uvx nox --version
  script:
    - uvx nox -s stubtest -- access_atmosphere-*-cp310-cp310-*.whl

rustfmt:
  stage: test
  needs: []
  image: rust:1.74-bookworm
  before_script:
    - rustup component add rustfmt
  script:
    - cargo fmt --check -v

rust-tests:
  stage: test
  needs: []
  image: rust:1.74-bookworm
  script:
    - cargo test --locked

cargo-audit:
  stage: test
  needs: []
  rules:
    - changes:
        - Cargo.lock
  image: rust:1.74-bookworm
  variables:
    CARGO_AUDIT_VERSION: "v0.21.0"
  before_script:
    - curl -LO "https://github.com/rustsec/rustsec/releases/download/cargo-audit%2F${CARGO_AUDIT_VERSION}/cargo-audit-x86_64-unknown-linux-musl-${CARGO_AUDIT_VERSION}.tgz"
    - mkdir -p "${CARGO_HOME}/bin"
    - tar -xf "cargo-audit-x86_64-unknown-linux-musl-${CARGO_AUDIT_VERSION}.tgz" -O "cargo-audit-x86_64-unknown-linux-musl-${CARGO_AUDIT_VERSION}/cargo-audit" > "${CARGO_HOME}/bin/cargo-audit"
    - chmod +x "${CARGO_HOME}/bin/cargo-audit"
  script:
    - cargo audit -f Cargo.lock

build-manylinux:
  stage: build
  image: quay.io/pypa/manylinux_2_28_x86_64:latest
  before_script:
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-toolchain 1.74 --profile minimal -y
    - source $HOME/.cargo/env
    - rustc --version
    - uv --version
    - uvx maturin --version
    - uvx maturin list-python
  script:
    - cargo fetch --locked
    - uvx maturin sdist
    - uvx maturin build --release --features abi3
    - uvx maturin build --release -i "python3.10" -i "python3.11" -i "python3.12" -i "python3.13"
    - cp -t . target/wheels/*.tar.gz target/wheels/*.whl
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_SHORT_SHA"
    paths:
      - "*.tar.gz"
      - "*.whl"

build-musllinux:
  stage: build
  image: quay.io/pypa/musllinux_1_2_x86_64:latest
  before_script:
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-toolchain 1.74 --profile minimal -y
    - source $HOME/.cargo/env
    - rustc --version
    - uv --version
    - uvx maturin --version
    - uvx maturin list-python
  script:
    - cargo fetch --locked
    - uvx maturin build --release --features abi3
    - uvx maturin build --release -i "python3.10" -i "python3.11" -i "python3.12" -i "python3.13"
    - cp target/wheels/*.whl .
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_SHORT_SHA"
    paths:
      - "*.whl"

build-windows:
  stage: build
  image: rust:1.74-bookworm
  before_script:
    - echo -e "section_start:$(date +%s):apt-get\r\e[0KInstalling dependencies"
    - curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
    - cargo binstall --no-confirm maturin
    - rustup target add x86_64-pc-windows-msvc
    - rustup component add llvm-tools
    - echo -e "section_end:$(date +%s):apt-get\r\e[0K"
    - rustc --version && python3 --version
  script:
    - cargo fetch --locked
    - maturin build --release --target x86_64-pc-windows-msvc --features abi3
    - cp -t . target/wheels/*.whl
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_SHORT_SHA"
    paths:
      - "*.whl"

import-linux:
  stage: test
  image: "ghcr.io/astral-sh/uv:python3.11-bookworm-slim"
  needs: [build-manylinux]
  variables:
    GIT_STRATEGY: empty
  before_script:
    - python --version
    - uv --version
  script:
    - uv venv
    - source .venv/bin/activate
    - uv pip install ./access_atmosphere-*-cp311-cp311-manylinux*.whl
    - python -c 'import access_atmosphere'

publish-package:
  stage: deploy
  image: "ghcr.io/astral-sh/uv:python3.11-bookworm-slim"
  needs: ["build-windows", "build-manylinux", "build-musllinux"]
  # Once a package version is uploaded to a PyPI registry, it cannot be updated.
  # So to ensure no conflicts, only tagged releases are published.
  only:
    - tags
  variables:
    GIT_STRATEGY: empty
  before_script:
    - python --version
    - uv --version
  script:
    - >
      uv publish
      --publish-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
      --username gitlab-ci-token
      --password ${CI_JOB_TOKEN}
      *.tar.gz *manylinux*.whl *musllinux*.whl *win*.whl

api-documentation:
  stage: test
  needs: [build-manylinux]
  image: "ghcr.io/astral-sh/uv:python3.10-bookworm-slim"
  variables:
    NOX_DEFAULT_VENV_BACKEND: uv
  before_script:
    - python --version
    - uv --version
    - uvx nox --version
  script:
    - uvx nox -s pdoc -- access_atmosphere-*-cp310-cp310-manylinux*.whl
  artifacts:
    paths:
      - public

pages:
  stage: deploy
  needs: [api-documentation]
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  image: "python:3.10-slim"
  script:
    - echo "deploying documentation"
  artifacts:
    paths:
      - public

# This is a temporary job to create musllinux wheels for the netCDF4/cftime
# packages since they're not published on PyPI yet
dependency-musllinux-wheels:
  stage: deploy
  needs: []
  when: manual
  parallel:
    matrix:
      - PYTHON: [python3.10, python3.11, python3.12, python3.13]
  image: quay.io/pypa/musllinux_1_2_x86_64:latest
  before_script:
    - apk add hdf5-dev netcdf-dev
  script:
    - ${PYTHON} -m pip wheel netCDF4
    - auditwheel repair netCDF4-*-linux_x86_64.whl cftime-*-linux_x86_64.whl
    - cp wheelhouse/*.whl .
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_SHORT_SHA"
    paths:
      - "netCDF4-*-musllinux_1_2_x86_64.whl"
      - "cftime-*-musllinux_1_2_x86_64.whl"